body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.main-title {
    margin: 0 auto 1rem;
    width: 80%;
    padding: 2rem;
    background-color: yellow;
    border-bottom-left-radius: 3rem;
    box-sizing: border-box;
}

h1{
    margin: 0;
}



.container {
    margin:  auto;
    text-align: center;
    background-color: rgb(254, 255, 227);
    width: 50%;
    /* border:  1px; */
    border-radius: 2rem;
    box-sizing: border-box;
}

.title {
    background-color: black;
    color: white;
    margin: 0;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

label {
    display: block;
    margin: .5rem;
    padding: .5rem;
}

input {
    padding: .4rem;
    font-size: 15px;
    width: 40%;
    max-width: 150px;
}

button {
    display: block;
    cursor: pointer;
    margin: 1rem auto ;
    padding: .5rem;
    border-radius: .5rem;
    background-color: black;
    color: white;
}

.output {
    margin: 1rem;
    
    font-size: 20px;
    font-weight: bold;
}

.footer {
    margin: 1rem auto 0;
    text-align: center;
    padding: 2rem;
    /* margin-bottom: 0; */
    text-align: center;
    border-top-right-radius: 3rem;
    width: 80%;
    background-color: yellow;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width : 500px) {
    .main-title {
        width: 100%;    
    }
     .container{
        width: 100%; 
    }
   
    .footer{
        width: 100%;
    }
}